/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*main*/

body {
  color: #eee;
  font-family: Fredoka One;
  background: #291515;
  text-align: center;
}

#content {
  margin: 20px;
  display: flex;
  flex-direction: row;
}

/*controls*/
h1 {
  width: 200px;
}
#controls {
  width: 200px;
  margin: 10px auto;
}

#controls * {
  display: inline-block;
  vertical-align: middle;
}

.button {
  margin: 10px;
  font-size: 15px;
  font-family: Fredoka One;
  border: 2px solid #eee;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  transition: background 0.45s ease;
  transition: color 0.75s ease;
  transition: transform 0.25s ease;
}

.button:hover {
  cursor: pointer;
  background: #A30000;
  color: #eee;
  -ms-transform: scale(1.025,1.025); /* IE 9 */
  -webkit-transform: scale(1.025,1.025); /* Safari */
  transform: scale(1.025,1.025);
}

.label {
  width: 7%;
}

#click-message {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  color: yellow;
}
/*maze*/

#maze {
  /*margin: 0 auto;*/
  margin-left: 20px;
  opacity: 0;
  transition: opacity 0.25s ease;
  border: 5px solid #A30000;
  background: black;
}

#maze div {
  background: black;
  float: left;
  border: 1px solid #A30000;
  transition: background 0.5s ease;
}

#maze div.current {
  background: #fff;
}

#maze div.seen {
  background: #777;
}

#maze div.explored {
  background: #aaa;
}

#maze div.start {
}

#maze div.end {
}

#maze .left-open {
  border-left-style: none;
}

#maze .right-open {
  border-right-style: none;
}

#maze .up-open {
  border-top-style: none;
}

#maze .down-open {
  border-bottom-style: none;
}

#maze .in-path {
  background: #FB0000;
}

/*slider*/

.slider-container {
  width: 100%;
  display: block;
}

.ui-slider {
  width: 70%;
  margin: 10px;
}

.ui-slider .ui-slider-handle {
  background: #A30000;
  width: 12px;
  margin-left: -6px; //used to center slider on click
}

.ui-slider-handle:hover {
  cursor: grab;
  cursor: -webkit-grab;
}

.ui-slider-handle:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.ui-slider-range-min, .ui-widget-content {
  background: black;
}
